<h2 class="title f50em">
  {{title}}
</h2>
<div class="card-dt" *ngFor="let customer of customers;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-10">
				<p class="f28em"><i class="fa fa-user-circle bg-800" aria-hidden="true"></i>  {{customer.name+" "+customer.lastname}}</p>
			</div>
			<div class="col-xs-2">
				<a type="button" class="btn btn-action"  data-toggle="tooltip" title="Editar Cliente"  href="/customerEdit/{{customer.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
				<button  data-toggle="tooltip" title="Borrar Cliente" class="btn btn-action" (click)="OnDelete(customer.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
				<button  data-toggle="tooltip" title="Detalle Cliente" class="btn btn-action" (click)="ChangeShow(customer.id)"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
			</div>
			<div class="col-xs-12" *ngIf="show==customer.id" id="customer_{{customer.id}}" >
				<div class="container-fluid">
					<hr/>
					<h4>Detalles del Cliente:</h4>
					<div class="row">
						<div class="col-xs-4">
							<p class="f20em"><i class="fa fa-address-card bg-800" aria-hidden="true"></i>  Dni:{{customer.dni}}</p>
						</div>
						<div class="col-xs-4">
							<p class="f20em"><i class="fa fa-envelope-o bg-800" aria-hidden="true"></i>  Email:{{customer.email}}</p>
						</div>
						<div class="col-xs-4">
							<p class="f20em"><i class="fa fa-mobile bg-800" aria-hidden="true"></i>  Phone:{{customer.phone}}</p>
						</div>
						<div class="col-xs-12">
							<p class="f20em"><i class="fa fa-map bg-800" aria-hidden="true"></i>  Address:{{customer.address}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
