
<nav class="navbar navbar-inverse sidebar" role="navigation" style="height: 677px; width: 250px;">
    <div class="container-fluid dropdown no-padding">
    <br><br><br>
	  <button class="btn btn-default dropdown-toggle btnDrop width-100 title f28em" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Usuarios
	  </button>
	  <ul class="dropdown-menu width-100" aria-labelledby="dropdownMenu1">
	    <li><a href="#">Action</a></li>
	    <li><a href="#">Another action</a></li>
	    <li><a href="#">Something else here</a></li>
	    <li><a href="#">Separated link</a></li>
	  </ul>
	</div>
</nav>