.sidebar{
	width: 250px;
    height: 637px;
    background-color: #101240;
    padding-top: 40px;
}

.sidebar a{
	color: #fff;
	padding: 10px 10px;
	font-size: 1.7em;
}

.sidebar a:hover{
    padding: 10px 10px;
    background-color: #1C1F59;
    border-radius: 5px;
    text-decoration: none;
}